@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500i,700,900|Roboto:400,500,700,900&subset=cyrillic');

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1230px;
  padding-left: 0;
  padding-right: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/*Меню*/
.menu {
  font-family: 'Montserrat', sans-serif;
  background: #f5f5f5;
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.44);
}

#my-nav {
  font-size: 20px;
  padding: 20px;
}

.nav-item {
  margin-right: 10px;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  margin-left: 30px;
}

.number {
  margin-right: 30px;
  padding: 30px 0px;
  font-size: 20px;
  font-weight: 900;
}

.navbar-toggler {
  width: 87px;
  padding: 25px;
  background: black;
  border-radius: 0;
}

.navbar-toggler span {
  font-size: 40px;
  color: white;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  #my-nav {
    font-size: 14px;
    padding: 5px;
  }

  .number {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    display: flex;
  }

  .navbar-brand {
    order: -2;
  }

  .number {
    order: -1;
  }
}

/*Header*/
.header {
  background-image: url(../img/background.png);
}

.header h2 {
  display: inline-block;
  color: #ffffff;
  font-size: 98px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background: linear-gradient(to left, #f74c00, #f68b1f);
  margin: 0;
  padding: 0 50px;
  position: relative;
  z-index: 20;
}

.header h2 span {
  font-size: 115px;
}

.header h2:first-child {
  margin-top: 25px;
  margin-left: 80px;
}

.header h2:last-child {
  margin-left: 170px;
}

/*Первая форма*/
.form1 {
  position: relative;
  z-index: 20;
  margin-left: 80px;
  margin-top: 20px;
  background: linear-gradient(to left, #44c8f5, #c8f1ff);
  border: 1px solid #205ebd;
  border-radius: 15px;
  padding: 30px 20px 3px 20px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

.form1 h3 {
  font-weight: 700;
  font-size: 30px;
}

.form1 p.text {
  position: relative;
  left: 25px;
  font-size: 20px;
}

.form1 p.text:before {
  position: absolute;
  display: block;
  top: 8px;
  left: -30px;
  width: 17px;
  height: 13px;
  content: "";
  background-image: url(../img/checked.png);
}

.form1 p.small {
  display: inline-block;
  margin-top: 15px;
  font-size: 12px;
  border-bottom: 1px solid #000;
}

.form1 button {
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  border: none;
  padding: 15px 35px;
  border-radius: 30px;
  font-size: 16px;
  background: linear-gradient(to left, #f74c00, #f68b1f);
}

.form1 input {
  background: #d0ebff;
  border: solid 1px #205ebd;
  padding: 15px 20px;
  border-radius: 30px;
  font-size: 16px;
}

.form1 input::placeholder {
  color: #000000;
}

.ellipse {
  position: absolute;
  top: -100px;
  right: 200px;
  z-index: 10;
}

.sale {
  position: absolute;
  top: -70px;
  right: -85px;
  z-index: 30;
}

.rocket {
  position: absolute;
  top: -40px;
  right: 150px;
  z-index: 30;
}

.ship {
  position: absolute;
  top: 90px;
  right: -325px;
  z-index: 30;
}

.helicopter {
  position: absolute;
  top: -25px;
  right: -333px;
  z-index: 30;
}

/*Вторая форма*/
.form2 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 40px;
  background: linear-gradient(to left, #8effc3, #d0fed3);
  border: 1px solid #01a759;
}

.form2 input {
  background: #daffdd;
  border: #01a056 solid 1px;
}

.form2 p.bold {
  font-size: 22px;
  font-weight: bold;
}

.form2 p.checked {
  font-size: 18px;
  margin-bottom: 5px;
}

.form2 p.checked span {
  font-weight: bold;
  color: #01985d;
}

.present {
  position: absolute;
  top: -30px;
  right: 0px;
  z-index: 30;
}

ul.social {
  display: flex;
  color: #000;
  background: rgba(255, 255, 255, 0.5);
  list-style: none;
  padding: 15px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 15px;
  z-index: 70;
  margin: 0;
}

ul.social li {
  padding-left: 8px;
  padding-right: 8px;
}

.man {
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: 60;
}

/*О компании*/
.about {
  background-image: url(../img/aboutBack.png);
  font-family: 'Montserrat', sans-serif;
}

.about .container {
  background: #fff;
  border: 1px solid #acc7d9;
}

.about h2 {
  margin-top: 90px;
  margin-bottom: 70px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.about ul {
  font-size: 20px;
  list-style: none;
}

.about ul li {
  padding: 10px;
  position: relative;
}

.about ul li+hr {
  margin: 0;
  max-width: 45%;
}

.about p {
  font-size: 20px;
}

.about button {
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px 30px;
  color: #f76c10;
  background: transparent;
  border: 1px solid #f76c10;
  border-radius: 30px;
  margin-bottom: 50px;
  font-size: 20px;
  transition: 0.3s;
}

.about img {
  max-width: 200%;
  margin-top: 55px;
  margin-left: -150px;
}

.about button:hover {
  color: #fff;
  background: linear-gradient(to left, #f74c00, #f68b1f);
}

/* Услуги */
.service {
  background-image: url(../img/serviceBack.png);
  font-family: 'Montserrat', sans-serif;
}

.jca {
  justify-content: space-around;
}

.service h2 {
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 90px;
  margin-bottom: 65px;
  color: #fff;
  font-weight: 900;
}

.service p {
  display: inline-block;
  font-weight: bold;
  font-size: 23px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #fff;
}

.service button {
  color: #fff;
  background: linear-gradient(to left, #f74c00, #f68b1f);
  text-transform: uppercase;
  font-weight: 900;
  padding: 8px 30px;
  border: 2px solid #f76c10;
  border-radius: 30px;
  margin-bottom: 65px;
  font-size: 21px;
  transition: 0.3s;
}

.service div.mount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 285px;
  width: 285px;
  border-radius: 50%;
  background: rgba(110, 110, 110, 0.5);
}

.sale1 {
  position: absolute;
  width: 150px;
  top: -30px;
  right: 0px;
  z-index: 30;
}

/* Этапы работы */
.steps {
  background-image: url(../img/steps.png);
  font-family: 'Montserrat', sans-serif;
}

.steps .container {
  padding-left: 40px;
  padding-right: 40px;
  background: #fff;
  border: 1px solid #acc7d9;
}

.steps h2 {
  font-size: 35px;
  font-weight: 900;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-top: 90px;
  margin-bottom: 70px;
}

.item-steps {
  padding: 0;
  max-width: 100%;
  height: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/stepEmpty.png);
  margin-bottom: 185px;
}

.item-steps p {
  margin-top: 15px;
  margin-left: 10px;
}

.item-steps.active {
  color: #fff;
  background-image: url(../img/stepFull.png);
}

.item-steps img[alt="1"],
.item-steps img[alt="2"],
.item-steps img[alt="3"],
.item-steps img[alt="4"] {
  position: absolute;
  left: -30px;
  top: 30px;
}

/* Примеры работ */
.portfolio {
  background: #f6f7f9;
}

.portfolio h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-top: 85px;
  margin-bottom: 70px;
}

.portfolio img {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 80px;
  box-shadow: 0px 20px 24px -9px rgba(0, 0, 0, 0.5);
}

/*слайдер*/
.slick-prev,
.slick-next {
  height: 35px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;

  /* to position the arrows left and right at the bottom of slider */
  position: absolute;
  z-index: 10;
  bottom: 0;
}

.slick-prev {
  background-image: url('../img/arrLeft.png');
  left: 0;
}

.slick-prev:hover,
.slick-prev:focus {
  background-image: url('../img/arrLeft.png');
  opacity: 0.8;
}

.slick-next {
  background-image: url('../img/arrRight.png');
  right: 0;
}

.slick-next:hover,
.slick-next:focus {
  background-image: url('../img/arrRight.png');
  opacity: 0.8;
}

/* Заказчику */
.customer {
  background-image: url(../img/customer.png);
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

.customer .container {
  padding-left: 25px;
  padding-right: 25px;
  background: #fff;
  border: 1px solid #acc7d9;
}

.customer h2 {
  font-weight: 900;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-top: 85px;
  margin-bottom: 70px;
}

.customer p {
  display: inline-block;
  color: #fff;
  font-size: 19px;
  margin-bottom: 0px;
  border-bottom: 1px solid #fff;
}

.customer button {
  margin-top: 30px;
  color: #000;
  background: white;
  border: none;
  padding: 10px 40px;
  border-radius: 25px;
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.3);
}

.customer span {
  display: inline-block;
  border-bottom: 1px solid #000;
  margin-bottom: 45px;
  margin-top: 55px;
}

.customer .orange {
  padding: 30px;
  padding-top: 45px;
  background: #f6891e;
  background-image: url(../img/orange.png);
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  border-radius: 8px;
  height: 100%;
}

.customer .red {
  padding: 30px;
  padding-top: 45px;
  background: #d63933;
  background-image: url(../img/red.png);
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  border-radius: 8px;
  height: 100%;
}

.customer .blue {
  padding: 30px;
  padding-top: 45px;
  background: #2283c7;
  background-image: url(../img/blue.png);
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  border-radius: 8px;
  height: 100%;
}

.customer .green {
  padding: 30px;
  padding-top: 45px;
  background: #1bb363;
  background-image: url(../img/green.png);
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  border-radius: 8px;
  height: 100%;
}

/* Отзывы */
.review {
  display: flex;
  background-image: url(../img/reviewBack.png);
  background-repeat: no-repeat;
  padding: 30px 90px;
  text-align: left;
  margin-left: 110px;
}

.review.right {
  padding: 20px 50px;
  background-image: url(../img/reviewBackRight.png);
}

.review.right img {
  margin-left: 50px;
  order: 1;
}

.review div p:nth-child(odd) {
  border: none;
  padding-left: 30px;
  color: #f6891e;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.review div p:nth-child(even) {
  display: block;
  border: none;
  font-style: italic;
  padding-left: 30px;
  color: #000;
  text-decoration: none;
}

.medal {
  z-index: 9999;
  position: absolute;
  top: 45px;
  right: 40px
}

/* Кнопки */
.buttons {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-top: 50px;
}

.buttons button.button1 {
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  background: linear-gradient(to left, #f74c00, #f68b1f);
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  transition: 0.3s;
}

.buttons button.button1:hover {
  border: 1px solid #f68b1f;
  color: #f68b1f;
  background: transparent;
}

.buttons button.button2 {
  margin-bottom: 70px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px 30px;
  border-radius: 30px;
  border: 1px solid #f68b1f;
  color: #f68b1f;
  background: transparent;
}

.buttons button.button2:hover {
  background: linear-gradient(to left, #f74c00, #f68b1f);
  color: #fff;
  border: none;
}

/* Футер */
.footer {
  font-family: 'Montserrat', sans-serif;
  background: #232426;
}

.footer .row {
  padding-top: 30px;
}

.footer ul li {
  text-align: left;
  list-style: none;
  color: #b4b4b4;
}

.footer .col-2 {
  border-right: 1px dotted #81818141;
}

.footer .col-3 {
  border-right: 1px dotted #81818141;
}

.footer .col-12 {
  padding-top: 10px;
}

.email {
  text-decoration: underline;
}

.footer .copy {
  font-size: 16px;
  font-weight: 400;
}

.footer .copy span {
  font-size: 20px;
  font-weight: 900;
}

.footer .borderNone {
  border: none;
}

.fa-phone,
.fa-envelope {
  margin-right: 10px;
  color: #f68b1f;
}

.fa-phone {
  border: 1px solid #f68b1f;
  font-size: 12px;
  padding: 4px;
  border-radius: 50%;
}

.fa-envelope {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.socialNet i {
  margin-top: 12px;
  margin-right: 8px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #818181;
  font-size: 16px;
  height: 35px;
  width: 35px;
  padding: 8px;
}

/* Медиа запросы планшет  =================================================
=========================================================================
=========================================================================*/
@media screen and (max-width: 1100px) and (min-width: 480px) {

  /*Шапка*/
  .header {
    padding-bottom: 102px;
    background: #f0f1eb;
  }

  .header h2 {
    padding-left: 30px;
    font-size: 70px;
  }

  .header h2 span {
    font-size: 90px;
  }

  .header h2:first-child {
    margin-top: 25px;
    margin-left: 0px;
  }

  .header h2:last-child {
    margin-left: 62px;
  }

  /*Первая форма*/
  .form1 {
    padding: 50px 60px 25px 60px;
    margin: 20px;
  }

  .form1 form {
    text-align: center;
    margin: 0 auto;
  }

  .form1 p.small {
    display: block;
    text-align: center;
    border: none;
    text-decoration: underline;
  }

  .form1 button {
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 20px;
  }

  .form1 input {
    width: 48%;
  }

  .sale {
    position: absolute;
    top: -48px;
    right: -38px;
    z-index: 30;
    width: 25%;
  }

  .rocket {
    width: 23%;
    position: absolute;
    top: -32px;
    right: 120px;
    z-index: 30;
  }

  /*Вторая форма*/
  .form2 {
    margin-top: 400px;
  }

  .form2 p.bold {
    text-align: center;
  }

  .form2 p.checked {
    text-align: center;
    font-size: 24px;
  }

  .present {
    width: 25%;
    position: absolute;
    top: -65px;
    right: 45px;
  }

  ul.social {
    position: absolute;
    width: 100%;
    top: 970px;
    background: transparent;
  }

  ul.social li {
    margin-left: 15px;
    margin-right: 15px;
  }

  .ellipse {
    position: absolute;
    width: 55%;
    top: -250px;
    right: 90px;
    z-index: 10;
  }

  .man {
    position: absolute;
    top: 0;
    left: 60px;
    z-index: 60;
  }

  .ship {
    position: absolute;
    top: 430px;
    right: 230px;
    width: 57%;
    z-index: 30;
  }

  .helicopter {
    position: absolute;
    width: 40%;
    top: 390px;
    right: 30px;
    z-index: 30;
  }

  /*О компании*/
  .dflex-class {
    display: flex;
    flex-direction: column;
  }

  .dflex-class div:nth-child(1) {
    justify-content: center;
    text-align: center;
    order: 2;
  }

  .dflex-class div:nth-child(2) {
    justify-content: center;
    text-align: center;
    order: 1;
  }

  .about ul li::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
    height: 1px;
    width: 200px;
    background-image: url(../img/line.png);
  }

  .about ul li:nth-child(1)::after {
    display: none;
  }

  .about ul li:nth-child(3)::after {

    bottom: 80px;
  }

  .about ul li:nth-child(7)::after {
    bottom: 80px;
  }

  .about ul li+hr {
    display: none;
  }

  .about p {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .about button {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .about img[alt="man"] {
    max-width: 100%;
    margin: 0;
  }

  /*Услуги*/
  .service {
    background: #26282b;
  }

  .service p {
    display: block;
    border: none;
    text-decoration: underline;
  }

  .service button {
    margin: 0 auto;
    display: block;
    margin-bottom: 80px;
  }

  .service div.mount {
    display: inline-flex;
  }

  .sale1 {
    position: absolute;
    width: 180px;
    top: -40px;
    right: 250px;
    z-index: 30;
  }

  /* Этапы работы */
  .steps {
    background: #fff;
  }

  .steps .container {
    padding-bottom: 60px;

  }

  .item-steps {

    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/tabStepEmpty.png);
    padding: 0;
    width: 70%;
    margin-left: 20%;
    height: 190px;
    margin-bottom: -20px;
  }

  .item-steps p {
    margin-top: 15px;
    margin-left: 10px;
  }

  .item-steps.active {
    color: #fff;
    background-image: url(../img/tabStepFull.png);
  }

  .item-steps img[alt="1"],
  .item-steps img[alt="2"],
  .item-steps img[alt="3"],
  .item-steps img[alt="4"] {
    position: absolute;
    left: 45%;
    top: 0px;
  }

  /* Примеры работ */

  .portfolio img {
    margin: 0 auto;
    margin-bottom: 80px;
    box-shadow: 0px 20px 24px -9px rgba(0, 0, 0, 0.5);
  }

  /*слайдер*/
  .slick-prev,
  .slick-next {
    height: 35px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;

    /* to position the arrows left and right at the bottom of slider */
    position: absolute;
    z-index: 10;
    bottom: 0;
  }

  .slick-prev {
    left: 30px;
  }

  .slick-next {
    right: 30px;
  }

  /* Заказчику */
  .customer p {
    display: inline-block;
    color: #fff;
    font-size: 19px;
    margin-bottom: 0px;
    border-bottom: 1px solid #fff;
  }

  .customer span {
    margin-top: 15px;
  }

  .customer button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  .customer .orange,
  .customer .red,
  .customer .blue,
  .customer .green {
    max-width: 500px;
    margin: 0 auto;
  }
  /* Отзывы */
  .review {
    display: flex;
    background-image: url(../img/reviewBack.png);
    background-repeat: no-repeat;
    padding: 30px 90px;
    text-align: left;
    margin-left: 0px;
  }
  .review.right {
    padding: 20px 0px;
    background-image: url(../img/reviewBackRight.png);
  }
  .review.right img {
    margin-left: 0px;
    order: 1;
  }
  .review div p:nth-child(odd) {
    border: none;
    padding-left: 30px;
    color: #f6891e;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .review div p:nth-child(even) {
    display: block;
    border: none;
    font-style: italic;
    padding-left: 30px;
    color: #000;
    text-decoration: none;
  }
  .medal {
    display: none;
  }
  /*Футер*/
  .footerRow div:nth-child(1) {
    order: 0;
  }
  .footerRow div:nth-child(2) {
    order: 3;
  }
  .footerRow div:nth-child(3) {
    order: 1;
  }
  .footerRow div:nth-child(4) {
    order: 4;
  }
  .footerRow div:nth-child(5) {
    order: 2;
  }
  .footerRow div:nth-child(6) {
    order: 6;
  }
}
/* Медиа запросы телефон=================================================
=========================================================================
========================================================================= */
@media screen and (max-width: 480px) {
  .navbar {
    height: 60px;
  }
  .navbar-brand img {
    max-height: 40px;
  }
  .number {
    font-size: 15px;
  }
  .navbar-toggler {
    width: auto;
    padding: 8px;
  }

  /*Шапка*/
  .header {
    padding-bottom: 102px;
    background: #f0f1eb;
  }

  .header h2 {
    font-size: 7vh;
    width: 70vw;
  }

  .header h2 span {
    font-size: 10vh;
  }

  .header h2:first-child {
    
    margin-top: 25px;
    margin-left: 0px;
  }

  .header h2:last-child {
    font-size: 40px;
    width: 89vw;
    margin-left: 50px;
    padding: 0 10px;
    margin-right: 0;
  }

  /*Первая форма*/
  .form1 {
    padding: 40px;
    margin-top: 20px;
  }

  .form1 h3 {
    text-align: justify;
    font-size: 27px;
    max-width: 250px;
  }

  .form1 p.small {
    display: block;
    text-align: center;
    border: none;
    text-decoration: underline;
    margin-bottom: 0;
  }

  .form1 button {
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 20px;
  }

  .form1 input {
    width: 100%;
    margin-bottom: 10px;
  }

  .sale {
    position: absolute;
    top: -28px;
    right: -28px;
    z-index: 30;
    width: 30%;
  }

  .rocket {
    width: 35%;
    position: absolute;
    top: -12px;
    right: 20px;
    z-index: 29;
  }

  /*Вторая форма*/
  .form2 {
    margin-top: 260px;
  }

  .form2 p.bold {
    text-align: center;
  }

  .form2 p.checked {
    text-align: left;
    font-size: 20px;
  }

  .present {
    width: 40%;
    position: absolute;
    top: -35px;
    right: 0px;
  }

  ul.social {
    position: absolute;
    left: 35px;
    top: 1070px;
    background: transparent;
  }

  ul.social li {
    margin-left: 5px;
    margin-right: 5px;
  }

  .ellipse {
    position: absolute;
    width: 55%;
    top: -160px;
    right: 50px;
    z-index: 10;
  }

  .man {
    max-height: 260px;
    position: absolute;
    top: 0;
    left: 60px;
    z-index: 60;
  }

  .ship {
    position: absolute;
    top: 580px;
    right: 100px;
    width: 65%;
    z-index: 30;
  }

  .helicopter {
    position: absolute;
    width: 40%;
    top: 550px;
    right: -10px;
    z-index: 30;
  }

  /*О компании*/

  .about ul {
    padding: 10px;
    margin-bottom: 0;
  }
  .about ul li::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
    height: 1px;
    width: 200px;
    background-image: url(../img/line.png);
  }

  .about ul li:nth-child(1)::after {
    display: none;
  }

  .about ul li:nth-child(3)::after {

    bottom: 0px;
  }

  .about ul li:nth-child(7)::after {
    bottom: 0px;
  }


  /*Услуги*/
  .service {
    background: #26282b;
  }

  .service p {
    display: block;
    border: none;
    text-decoration: underline;
  }

  .service button {
    margin: 0 auto;
    display: block;
    margin-bottom: 80px;
  }

  .service div.mount {
    display: inline-flex;
  }

  .sale1 {
    position: absolute;
    width: 180px;
    top: -40px;
    right: 50px;
    z-index: 30;
  }

  /* Этапы работы */
 
 .item-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/tabStepEmpty.png);
    padding: 0;
    width: 70%;
    margin-left: 65px;
    height: 190px;
    margin-bottom: -70px;
  }

  .item-steps p {
    margin-top: -20px;
    margin-left: 10px;
  }
  .item-steps img {
    margin-top: -25px;
  }

  .item-steps img[alt="1"],
  .item-steps img[alt="2"],
  .item-steps img[alt="3"],
  .item-steps img[alt="4"] {
    position: absolute;
    left: 43%;
    top: 25px;
  }
/*Заказчику*/
.customer p {
  border:none;
}
  /* Отзывы */
  .review {
    display: block;
    background-image: url(../img/reviewBack.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    text-align: center;
    margin-left: 0px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
  }
  .review.right {
    padding: 20px 0px;
    background-image: url(../img/reviewBackRight.png);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    background-position: right;
  }
  .review img {
    margin-left: 50px;
  }
  .review.right img {
    order: 1;
    margin-left: -50px;
  }

  .review div p:nth-child(odd) {
    text-align-last: left;
    border: none;
    padding-left: 30px;
    color: #f6891e;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .review div p:nth-child(even) {
    text-align-last: left;
    display: block;
    border: none;
    font-style: italic;
    padding-left: 30px;
    color: #000;
    text-decoration: none;
  }
  .review div p {
    width: 80%;
    margin-bottom: 20px;
  }
  /*Футер*/

  .footer {
    padding-left: 100px;
  }
  .footer .row.footerRow div:nth-child(1) {
    order: 0;
  }
  .footer .row.footerRow div:nth-child(2) {
    order: 1;
  }
  .footer .row.footerRow div:nth-child(3) {
    order: 2;
  }
  .footer .row.footerRow div:nth-child(4) {
    order: 3;
  }
  .footer .row.footerRow div:nth-child(5) {
    order: 4;
  }
  .footer .row.footerRow div:nth-child(6) {
    order: 5;
  }
  body > div.container-fluid.footer > div > div > div.col-xl-12 {
    margin-left: -100px;
  }
}